@import '../common/style/_colors.scss';
.movie {
    margin: 2rem;
    color: $color-grey;
    width: 20rem;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    overflow: hidden;
    &__cover,
    &__cover>img {
        width: 20rem;
        height: 30rem;
    }
    &__footer {
        position: relative;
    }
    &__title {
        padding: 0.7rem;
        padding-right: 3.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        height: 4.2rem;
    }
    &__type {
        padding: 0.25rem 0.7rem;
        font-size: 0.8rem;
    }
    &__release-date {
        position: absolute;
        right: 0;
        top: 0;
        border: 1px solid $color-grey;
        margin: 0.5rem;
        padding: 0.25rem 0.65rem;
        line-height: 0.8rem;
        font-size: 0.8rem;
        border-radius: 3px;
    }
    &--empty {
        height: 0px;
        border: 0;
    }
}